# systemd service file to start PoolControlRPi

[Unit]
Description= poolsmartz control package to control Pool Pump, SWG, Booster, HeatPump and Lighting
Wants=network.target

[Service]
Type=simple
# Run as poolsmartz user 
User=poolsmartz
Group=poolsmartz
WorkingDirectory=/home/pi

Nice=5

ExecStart=/bin/poolsmartz /etc/poolsmartz/poolconfig.json /etc/poolsmartz/schedule.json debug
# Use SIGINT to stop
KillSignal=SIGINT
# Auto restart on crash
Restart=on-failure
# Tag things in the log
SyslogIdentifier=poolsmartz
#StandardOutput=syslog

[Install]
WantedBy=multi-user.target

